body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #bdb7b7; /* Update the background color to a Netflix-like color */
    color: white; /* Set text color to white for better contrast */
}

/* ... (rest of your existing styles) */


h1 {
    color: black;
    text-align: center;
    background-color: rgb(238, 10, 10);
    width: 400px;
    margin-left: 450px;
    color: white;
}

.filter {
    margin: 20px 0;
    text-align: center;
    background-color:rgb(216, 11, 11);
    color:rgb(235, 241, 241);
    border: 1px solid black;
   
}
.Filtro{
    color:rgb(233, 241, 241);
    font-size: 25px;
}

.pelis {
    
    
  

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}



img{
    height: 300px;


}




.item {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 270px;
    background-color: rgba(255, 255 255,);
    box-shadow: 2px 2px 5px black;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
  }

.item img {
    max-width: 100%;
    max-height: 100%; /* Update to 100% */
    margin-bottom: 10px; /* Add margin to separate image and text */
}

.item p {
    font-weight: bold;
    margin: 0;
}


.filter ul {
    display: flex;
    justify-content: center;
    padding: 0;
}

.filter ul li {
    margin-left: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(216, 11, 11);
    color: rgb(235, 241, 241);
    border: 1px solid white;
    list-style: none;
    width: 80px;
  }